body{
font-family:Arial;
background:#f5fff5;
text-align:center;
}

header{
background:#2ecc71;
color:white;
padding:20px;
}

button{
padding:10px 20px;
background:#2ecc71;
border:none;
color:white;
border-radius:6px;
margin:10px;
cursor:pointer;
}

#listContainer{
display:flex;
justify-content:center;
align-items:center;
margin-top:30px;
flex-wrap:wrap;
}

.node{
background:#2ecc71;
color:white;
padding:15px 25px;
margin:10px;
border-radius:6px;
}

.arrow{
font-size:20px;
margin:10px;
}