body{
font-family:Arial;
text-align:center;
background:#eef2ff;
}

header{
background:#ff6b6b;
color:white;
padding:20px;
}

input{
padding:10px;
width:300px;
}

button{
padding:10px 20px;
background:#ff6b6b;
color:white;
border:none;
margin:10px;
border-radius:6px;
cursor:pointer;
}

#result{
margin-top:20px;
font-size:20px;
font-weight:bold;
}